<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<title>ROBINshould</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/users.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>
