<section class="bg-two h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>

    <!-- BANNER FOR PAGE -->
    <section class="bg-gray-100 h-32 text-center align-middle content-center">
        This is a banner for a picture
    </section>

    <!-- CONTAINER FOR BUDGET CATEGORIES -->
    <section class="flex flex-col bg-green-3 container1 ml-64 mr-64 mt-3">

        <!-- HEADER FOR INSTRUCTION ON HOW TO USE THE PAGE -->
        <div class="border-solid border-b-2 container2 border-black">WELCOME!
            <span id="userName">{{personName}}</span>
        </div>

        <!-- CONTAINER FOR THE TWO COLUMNS -->
        <div class="flex flex-row bg-green-8">

            <!-- AREA FOR NEW BUTTONS AND EXISTING BUTTONS -->
            <div
                class="flex flex-wrap justify-start w-58 bg-white content-start budg-cont-1 pl-6 pt-6 pb-6 pr-6 border-black border-r-2">
                {{#each fullCategoryList.category}}
                {{> users/category-block}}
                {{/each}}
            </div>

            <!-- AREA FOR THE SELECTED BUTTONS -->
            <div class="bg-green-2 container3 budg-cont-2 bg-color-1 pl-6 pt-6 pb-6 pr-6 h-full">
                {{#each userCategoryList.userCategory}}
                {{> users/category-block}}
                {{/each}}
            </div>
        </div>
    </section>

    <!-- BIG SUBMIT BUTTON -->
    <div class="text-right pt-3 mr-64">
        <button id="submitExpenses" class="budg-button text2">
            Confirm Categories
        </button>
    </div>
</section>


</body>

</html>