<section class="bg-two h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>
    <!-- BANNER FOR PAGE -->
        <section class="banner1 flex flex-row justify-center bg-gray-200 h-32 items-center">
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/search.png" class="center">Select Categories
            </div>
            <div class="h-24 w-40 text-center font-jockey text4">
                <img src="https://img.icons8.com/dusk/64/000000/calendar.png" class="center">Budget Amounts
            </div>
            <div class="h-24 w-40 text-center font-jockey text4">
                <img src="https://img.icons8.com/dusk/64/000000/checked.png" class="center">Save Budget
            </div>
        </section>

    <!---------------- OVERALL CONTAINER FOR PAGE CONTENT ---------------->
    <section class="bg-green-3 ml-64 mr-64 mt-3">
        <div class="budg-cont-3 bg-green-4 pt-4 pl-6 pb-6">
            <div class="text1 border-black border-b-2 mb-4">
                ALLOCATE BUDGET BELOW
            </div>

            <!---------------- CONTAINER HOLDING FORMS ---------------->
            <div class="budg-cont-4 flex flex-col flex-none content-start justify-start">
                {{#each userCategory}}
                    {{> users/budgetform-block}}
                {{/each}}
            </div>
        </div>
    </section>

    <!-- BIG SUBMIT BUTTON -->
    <div class="text-right pt-3 mr-64">
        <button class="budg-button text2">
            SAVE BUDGET
        </button>
    </div>
</section>