<section class="h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>
    <!-- BANNER FOR PAGE -->
        <section class="banner1 flex flex-row justify-center bg-gray-200 h-32 items-center">
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/search.png" class="center">Select Categories
            </div>
            <div class="h-24 w-40 text-center font-jockey text4">
                <img src="https://img.icons8.com/dusk/64/000000/calendar.png" class="center">Budget Amounts
            </div>
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/checked.png" class="center">Save Expenses
            </div>
        </section>

    <!---------------- OVERALL CONTAINER FOR PAGE CONTENT ---------------->
    
        <section class="flex flex-col container1 bg-gray-400 ml-64 mr-64 mt-3">
            <div class="flex bg-green-10 container2 items-end">
                <span class="text5 font-heebo pl-4 align-text-bottom">Allocate budget below, {{userName}}</span>
            </div>

            <!---------------- CONTAINER HOLDING FORMS ---------------->
            <div class="flex flex-row">
                <div class="budg-cont-1 flex flex-col flex-none content-start justify-start pl-2">
                    {{#each userCategory}}
                        {{> users/budgetform-block}}
                    {{/each}}
                </div>
                <div class="flex budg-cont-6">
                    <img class="banner2" src="../../../assets/img/banner1.jfif">
                </div>
            </div>
        </section>

    <!-- BIG SUBMIT BUTTON -->
    <div id="saveBudget" class="text-right pt-3 mr-64">
        <button id="saveButton" class="budg-button text2">
            SAVE BUDGET
        </button>
    </div>
</section>