<section class="bg-two h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>

    <!-- BANNER FOR PAGE -->
        <section class="banner1 flex flex-row justify-center bg-gray-200 h-32 items-center">
            <div class="h-24 w-40 text-center font-jockey text4">
                <img src="https://img.icons8.com/dusk/64/000000/search.png" class="center">Select Categories
            </div>
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/calendar.png" class="center">Budget Amounts
            </div>
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/checked.png" class="center">Save Budget
            </div>
        </section>

    <!-- CONTAINER FOR BUDGET CATEGORIES -->
    <section class="flex flex-col bg-green-3 container1 ml-64 mr-64 mt-3">

        <!-- HEADER FOR INSTRUCTION ON HOW TO USE THE PAGE -->
        <div class="border-solid border-b-2 container2 border-black">WELCOME!
            <span id="userName">{{personName}}</span>
        </div>

        <!-- CONTAINER FOR THE TWO COLUMNS -->
        <div class="flex flex-row bg-green-8">

            <!-- AREA FOR NEW BUTTONS AND EXISTING BUTTONS -->
            <div id="buttonZone" 
                class="flex flex-wrap justify-start w-58 bg-white content-start budg-cont-1 pl-6 pt-6 pb-6 pr-6 border-black border-r-2">
                {{#each fullCategoryList.category}}
                {{> users/category-block}}
                {{/each}}
            </div>

            <!-- AREA FOR THE SELECTED BUTTONS -->
            <div id="deleteZone"
                class="bg-green-2 container3 budg-cont-2 bg-color-1 pl-6 pt-6 pb-6 pr-6 h-full">
                {{#each userCategoryList.userCategory}}
                {{> users/category-block}}
                {{/each}}
            </div>
        </div>
    </section>

    <!-- BIG SUBMIT BUTTON -->
    <div id="confirmCategories" class="text-right pt-3 mr-64">
        <button id="budgetSave" class="budg-button text2">
            Confirm Categories
        </button>
    </div>
</section>


</body>

</html>