  <section class="bg-two h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>

    <!----------------- BANNER FOR PAGE ----------------->
        <section class="banner1 flex flex-row justify-center bg-gray-200 h-32 items-center">
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/search.png" class="center">Select Categories
            </div>
            <div class="h-24 w-40 text-center font-jockey text2 banner-font2">
                <img src="https://img.icons8.com/dusk/64/000000/calendar.png" class="center">Budget Amounts
            </div>
            <div class="h-24 w-40 text-center font-jockey text4">
                <img src="https://img.icons8.com/dusk/64/000000/checked.png" class="center">Save Expenses
            </div>
        </section>

    <!----------------- CONTAINER FOR EXPENSES ----------------->
    <section class="flex flex-col container3 bg-gray-400 ml-64 mr-64 mt-3">
      <div class="flex bg-green-10 container2 text7 pt-2 pb-2 pl-4">
        Expense for:  
        <select class="ml-2 text8" id="exCategory">
          <option value="">Category</option>

          <!----------------- PARTIAL HERE FOR LOOPING THROUGHT THE CATEGORIES ----------------->
          {{#each expense.categories}}
          {{> users/expenseCat-block}}
          {{/each}}
        </select>

      </div>
        <form class="m-3 flex content-start">
          <input id="expenseAmount" type="number" class="expenseForm text8"></input>
          <button id="saveExpense" class="saveExpense ml-5 text9 font-heebo">
            Save Expense
          </button>
        </form>

    </section>


    <!----------------- CONTAINER FOR LIST OF ALREADY EXISTING EXPENSES ----------------->
    <section class="flex bg-gray-300 flex-col container5 ml-64 mr-64 mt-8 ml-6 mr-6">
      <div class="text7 pl-6 border-b-2 border-black container6 bg-gray-600">
        Total Expenses
      </div>
      <!----------------- PARTIAL HERE FOR LOOPING THROUGH THE EXPENSES ----------------->
      <div class="flex flex-col pt-2 pb-2 container7">
        {{#each expense.expenses}}
        {{> users/totalExpense-block}}
        {{/each}}
      </div>
    </section>

      <!-- BIG SUBMIT BUTTON -->
    <div id="confirmExpenses" class="text-right pt-5 mr-64">
        <button id="expenseSave" class="budg-button text2">
            Finalize Expenses
        </button>
    </div>
  </section>
</body>

</html>