<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>robinshould</title>
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- <script src="/assets/js/users.js"></script> -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
</head>

<body>

  <section class="bg-two h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>

    <!------------------ START PROFILE PAGE CONTENT ------------------>

    <!----------------- BANNER FOR PAGE ----------------->
    <section class="bg-gray-100 h-32 text-center align-middle content-center">
      This is a banner for a picture
    </section>

    <!----------------- CONTAINER FOR EXPENSES ----------------->
    <section class="flex flex-col bg-white ml-64 mr-64 mt-3">
      <div class="text1 pt-4 pl-6 pr-6 pb-4">
        Expense for
        <select class="">
          <option value="">Category</option>

          <!----------------- PARTIAL HERE FOR LOOPING THROUGHT THE CATEGORIES ----------------->
          {{#each expense}}
          {{> users/expenseCat-block}}
          {{/each}}
        </select>
        <form>
          <input type="number"></input>
        </form>
      </div>
      <button class="border-black border-2 p-2 m-1">
        Save
      </button>
    </section>


    <!----------------- CONTAINER FOR LIST OF ALREADY EXISTING EXPENSES ----------------->
    <section class="flex bg-white flex-col ml-64 mr-64 mt-3 ml-6 mr-6">
      <div class="text1 bg-gray-1 pl-6 border-b-2 border-black">
        Total Expenses
      </div>
      <!----------------- PARTIAL HERE FOR LOOPING THROUGH THE EXPENSES ----------------->
      <div class="flex flex-col pt-2 pb-2 border-b-2 border-black">
        {{#each expense}}
        {{> users/totalExpense-block}}
        {{/each}}
      </div>
    </section>

  </section>
</body>

</html>