<!DOCTYPE html>
<html class="bg" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css" />
  <title>robinSHOULD</title>
</head>

<body class="mx-auto h-screen">
  <nav class="flex items-center px-4 py-3">
    <h1 class="justify-left robin-should">
      robinSHOULD
    </h1>
  </nav>

  <section class="container">
    <h2 class="flex items-center justify-around font">
      Who Needs to Budget?
    </h2>
    <div class="container mx-auto flex items-center px-20 py-10 justify-around justify-between">
      <button class="block flex items-center px-5 py-5 border button-border font">
        John
      </button>
      <button class="block flex items-center px-5 py-5 border button-border font">
        Jenny
      </button>
      <button class="block flex items-center px-5 py-5 border button-border font">
        +Profile
      </button>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  </section>
</body>

</html>