<section class="bg-green-7 h-screen">
    <!-- BASE NAV BAR -->
    <span class="flex flex-row h-16 bg-green-1 align-text-bottom pl-24 pr-64 border-solid border-b-2 border-black">
        <!-- ICON AND PRODUCT NAME -->
        <img class="object-center h-10 mt-3 mb-4" src="assets/img/robinshould-logo.png">
    </span>
    <section class="container mx-auto bg-green-7">
        <h1 class="pt-8 p-8 welcome-font-2">Am I even making money?!</h1>
        <div class="flex font-three">
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Total Spent</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Spent/Mo</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Total Budget</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-12">
                <strong>Excess Budget Unspent</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Excess Expenses</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Net Budget</strong><br />$$
            </div>
        </div>
        <div class="flex font-three">
            <div class="table-content box pt-8 p-8 pr-40">
                <strong>Total Budget</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-40">
                <strong>Monthly Earnings</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-40">
                <strong>Expected Savings</strong><br />$$
            </div>
            <div class="table-content box pt-8 p-8 pr-48">
                <strong>Actual Savings</strong><br />$$
            </div>
        </div>
    </section>
</section>