<section class="bg-two h-screen">
    <nav class="flex items-center px-4 py-2 navbar">
        <h1 class="justify-left robin-should-two">
            robinSHOULD
        </h1>
        <div class="flex justify-between">
            <button class="flex items-center px-4 py-4 button-border2 navbar-font">
                BUDGET
            </button>
            <button class="flex items-center px-4 py-4 button-border2 navbar-font">
                TABLES
            </button>
            <button class="flex items-center px-4 py-4 button-border2 navbar-font">
                ETC
            </button>
        </div>
    </nav>
    <section class="container mx-auto bg-green-7">
        <div class="pt-8 px-8 welcome-font">WELCOME! {person name}</div>
        <div></div>
    </section>
</section>