.bg {
  background-image: linear-gradient(#649dad, #a4e5d9);
  width: 100%;
}

.button-border {
  border-color: #03414d;
}

.button-border:hover {
  border-color: #649dad;
}

.font {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  size: 25%;
}

.font:hover {
  color: #649dad;
}

.robin-should {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  size: 55%;
}

.bg-green-1 {
  background-color: #c8f4de;
}

.bg-green-2 {
  background-color: #a4e5d9;
}

.bg-green-3 {
  background-color: #66c6ba;
}

.bg-green-4 {
  background-color: #649dad;
}

.bg-green-5 {
  background-color: #e6f8f6;
}

.bg-green-6 {
  background-color: #a0f6d2;
}

.bg-green-7 {
  background-color: #72dfd0;
}

.bg-green-8 {
  background-color: #03414d;
}

.height-auto {
  height: 48vw;
}

.font-heebo {
  font-family: "Heebo", sans-serif;
}

.f-color-8 {
  color: #03414d;
}

.border-color-8 {
  border-color: #03414d;
}

.bg {
  background-image: linear-gradient(#649dad, #a4e5d9);
  width: 100%;
}

.bg-two {
  background-color: #03414d;
  width: 100%;
}

.bg-green-7 {
  background-color: #649dad;
  height: 90vh;
}

.button-border:hover {
  border-color: #649dad;
}

.button-border2:hover {
  border: solid 1px;
  border-color: #878e96;
}

.font {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  size: 25%;
}

.font-two {
  color: #e6f8f6;
  font-family: "Montserrat", sans-serif;
  size: 25%;
}

.font:hover {
  color: #649dad;
}

.navbar {
  height: 10vh;
  background-color: #012e36;
}

.navbar-font {
  color: #a4e5d9;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.robin-should {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.robin-should-two {
  color: #e6f8f6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.welcome-font {
  color: #e6f8f6;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
