.bg {
  background-image: linear-gradient(#649dad, #a4e5d9);
  width: 100%;
}

.button-border {
  border-color: #03414d;
}

.button-border:hover {
  border-color: #649dad;
}

.font {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  size: 25%;
}

.font:hover {
  color: #649dad;
}

.robin-should {
  color: #03414d;
  font-family: "Montserrat", sans-serif;
  size: 45%;
}
