<form class="text6 pl-4 pt-3 pb-4 pr-10 expenseContainer">
    <div>{{name}}</div>
    <div>
        <input value={{amount}} data-name="{{name}}" type="number" class="inputbudg"></input>
        <button id={{id}} class="submitExpense submitButton ml-5">Submit</button>
    </div>
    
</form>