<nav class="flex flex-row h-16 bg-green-1 align-text-bottom pl-64 pr-64 border-solid border-b-2 border-black">

    <!-- SPOT FOR LOGO -->
    <span class="flex flex-row h-16 bg-green-1 align-text-bottom border-solid border-b-2 border-black">
        <!-- ICON AND PRODUCT NAME -->
        <img class="object-center h-10 mt-3 mb-4" src="../../../../assets/img/robinshould-logo.png">
    </span>

    <!------------------ BEGIN BUTTON LINKS ------------------>
    <div class="flex justify-between">
        <button id="home" class="items-center w-32 text-center text2">
            HOME
        </button>
        <button id="budget" class="items-center w-32 text-center text2">
            BUDGET
        </button>
        <button id="expenses" class="items-center w-32 text-center text2">
            EXPENSES
        </button>
        <button id="tables" class="items-center w-32 text-center text2">
            TABLES
        </button>
        <!-- END BUTTON LINKS -->
    </div>
</nav>