<nav id="navbar" class="flex flex-row h-16 bg-green-1 align-text-bottom pl-64 pr-64 border-solid border-b border-gray-400">

    <!-- SPOT FOR LOGO -->
    <span class="flex flex-row h-16 bg-green-1 align-text-bottom border-solid border-b border-gray-400">
        <!-- ICON AND PRODUCT NAME -->
        <img class="object-center h-10 mt-3 mb-4 mr-6" src="../../../../assets/img/robinshould-logo.png">
    </span>

    <!------------------ BEGIN BUTTON LINKS ------------------>
    <div class="flex justify-between">
        <button id="home" class="items-center w-32 text-center text2 font-color1 font-jockey">
            OVERVIEW
        </button>
        <button id="budget" class="items-center w-32 text-center text2 font-color1 font-jockey">
            BUDGET
        </button>
        <button id="expenses" class="items-center w-32 text-center text2 font-color1 font-jockey">
            EXPENSES
        </button>
        <!-- END BUTTON LINKS -->
    </div>
</nav>